.layout {
  width: 60%;
  margin: auto;
}

.title {
  margin: 0 0 10px 0;
  letter-spacing: 0px;
  font-size: 8em;
  text-transform: none;
  color: black;
  font-weight: 300;
  display: block;
  width: 100%;
  display: block;
  white-space: nowrap;
}

.phonetic {

}
.definitions {
  margin-top: 10px;
  border-top: 1px solid #bbbbbb;
  padding: 10px;
}

.definitions-name {
  display: block;
  font-weight: 300;
  font-size: 2em;
}

.definitions-wrap {
  background-color: #e6e6e6;
  font-size: 1.15em;
}

.count-index {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  color: black;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-weight: 300;
  font-size: 2em;
  padding: 0;
  text-align: center;
  top: -1.4em;
  left: 0;
}

.definitions-detail {
  border-top: 4px solid #7b7b7b;
  padding: 10px;
}

.part-of-speech {
  text-decoration: none;
  padding: 0px 6px 0px 6px;
  font-size: .75em;
  color: white;
  line-height: 21px;
  font-style: italic;
  position: absolute;
  left: 13px;
  display: block;
  border-radius: 4px;
  min-width: 21px;
  text-align: center;
  background-color: #e3412f;
}

.synonyms-detail {
  border-top: 1px solid #bdbdbd;
  padding: 10px;
}